*{
  box-sizing: border-box;
}
html, input{
  background-color: rgb(241, 230, 250);
  font-family:Georgia, 'Times New Roman', Times, serif;
}
form {
  background-color: lavenderblush;
  margin: 0 10%;
  margin-top: 3em;
  padding: 1.5em;
  border-radius: 1em;
}
input{
  width:100%;
  border-radius: 10px;
  border-color:pink;
  border-style: solid;
  padding: 5px;
  resize: vertical;
}
input[type=tel]{
  font-family: 'Times New Roman', Times, serif;
}
input[type=date]{
  color:rgb(145, 141, 141);
  width: fit-content;
}
h1{
  text-align: center;
  font-size: 28px;
  margin: 1em 0;
}
.title{
  padding: 10px 0;
}
#birthday{
  margin-bottom: 40px;
}
#button{
  text-align: center;
  width: fit-content;
  margin: auto;
  height: 30px;
}
label{
  display: inline-block;
}


@media screen and (min-width: 620px){
  h1{
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 32px;
    border-radius: 10px;
    background-color: lavenderblush;
    height: 50px;
    padding-top: 9px;
    margin-top: 1em;
  }
  form{
    font-size: 18px;
    margin-top: 1em;
  }
  input{
    background-color: aliceblue;
    border-radius: 20px;
    color: rgb(174, 174, 174);
    padding: 5px 10px;
    width: 70%;
    margin-left: 15%;
  }
  input[type=submit]{
    color:rgb(60, 80, 100);
    font-size: 18px;
    height: 40px;
    padding-top: 6px;
    border-radius: 15px;
    width: 6em;
  }
  label{
    text-decoration: underline;
    margin: 10px auto 10px 15%;
  }
  html{
    color:rgb(60, 80, 100);
  }
}
